<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IPv6SubnetCalculator_v3.2_JavaFX_Source_NoEXE/IPv6SubnettingTool/src/ipv6subnettingtool/IPv6SubnettingTool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ipv6subnettingtool.IPv6SubnettingTool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IPv6SubnetCalculator_v3.2_JavaFX_Source_NoEXE"/>
</launchConfiguration>
